<urlrewritingnet
   rewriteOnlyVirtualUrls="true"
   contextItemsPrefix="QueryString"
   defaultPage = "default.aspx"
   defaultProvider="RegEx"
   xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
  <rewrites>
  
    <add name="Content"  virtualUrl="^~/(.*)/([0-9]+)"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/content.aspx?cate=$1&amp;id=$2"
        ignoreCase="true" />
    <add name="Content-detail"  virtualUrl="^~/(.*)/(.*)/([0-9]+)"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/content.aspx?parent=$1&amp;cate=$2&amp;id=$3"
        ignoreCase="true" />
  </rewrites>
</urlrewritingnet>