<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
	</configSections>
	<appSettings>
		<add key="FCKeditor:BasePath" value="~/editors/fckeditor/"/>
		<add key="FCKeditor:UserFilesPath" value="~/images/"/>
		<add key="username" value="admin"/>
		<add key="password" value="toiv@b@n"/>
		<add key="code" value="2778384"/>
		<add key="imagespath_top" value="images/410x692/"/>
		<add key="imagespath_bottom" value="images/170x287/"/>
		<add key="sitename" value="http://localhost:1930/DiemSonViet_V2/"/>
	</appSettings>
	<connectionStrings>
		<add name="DiemSonVietDBConnectionString" connectionString="Data Source=(local);Initial Catalog=DiemSonVietDB;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<urlrewritingnet configSource="rewrite.config"></urlrewritingnet>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows"/>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages theme="v2" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableEventValidation="false" validateRequest="false">
		</pages>
		<httpHandlers>
			<add verb="GET" path="ImageCode.axd" type="Common.ImageCode, Common"/>
		</httpHandlers>
		<httpModules>
			<add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
		</httpModules>
	</system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="smtp.gmail.com" port="587" userName="diemsonviet@gmail.com" password="toiv@b@n"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
